
#header__image img{
    height:64px!important;
}


.menu__extra {
    display: flex;
    justify-content: flex-end;
}

.menu__extra li {
    padding: 0 15px;
    list-style-type: none;
}

.menu__extra li.cart__menu {
    position: relative;
}

.menu__extra li a.cart__contents {
    background: #ff4136 none repeat scroll 0 0;
    border-radius: 50%;
    color: #ffffff;
    font-size: 13px;
    height: 25px;
    line-height: 25px;
    pointer-events: none;
    position: absolute;
    right: 0px;
    text-align: center;
    top: -10px;
    width: 25px;
}
